openapi: 3.0.1
info:
  title: CSI Korika API
  description: API for the ClimateSmart Indonesia (CSI) Korika application
  version: 1.0.0
servers:
  - url: https://csi.korika.id:5000
    description: Production Server
  - url: http://202.43.168.207:5000
    description: Development Server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        email:
          type: string
        full_name:
          type: string
        phone_number:
          type: string
        address_1:
          type: string
        address_2:
          type: string
        access_level:
          type: string
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
        password:
          type: string
    SignupRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
        password:
          type: string
        full_name:
          type: string
        phone_number:
          type: string
        address_1:
          type: string
        address_2:
          type: string
        access_level:
          type: string
    WeatherParams:
      type: object
      properties:
        params:
          type: string
          description: Parameters for BMKG weather API
    MalariaCriteria:
      type: object
      properties:
        province:
          type: string
          description: Province code
        city:
          type: string
          description: City/regency code
        district:
          type: string
          description: District code
        month_year:
          type: string
          description: Format YYYY-MM for filtering by month and year
    AggregateCriteria:
      type: object
      properties:
        province:
          type: string
          description: Province code
        city:
          type: string
          description: City/regency code
        start:
          type: string
          description: Format YYYY-MM for start of time range
        end:
          type: string
          description: Format YYYY-MM for end of time range
    LocationCriteria:
      type: object
      properties:
        province:
          type: string
          description: Province code

paths:
  /signup:
    post:
      summary: Register a new user
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  access_token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
                  success:
                    type: boolean
        '400':
          description: Email and password are required or user already exists
        '500':
          description: Server error

  /signin:
    post:
      summary: User login
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  access_token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
                  success:
                    type: boolean
        '401':
          description: Invalid credentials
        '500':
          description: Server error

  /get-weather:
    get:
      summary: Get weather data
      tags:
        - Data
      parameters:
        - in: query
          name: params
          schema:
            type: string
          description: Parameters for weather API
      responses:
        '200':
          description: Weather data successfully retrieved
        '500':
          description: Server error

  /get-provinces:
    get:
      summary: Get list of provinces
      tags:
        - Location
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of provinces successfully retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        name:
                          type: string
                        bmkg:
                          type: string
                  success:
                    type: boolean
        '500':
          description: Server error

  /get-cities:
    get:
      summary: Get list of cities/regencies
      tags:
        - Location
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: province
          schema:
            type: string
          description: Province code
      responses:
        '200':
          description: List of cities/regencies successfully retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        name:
                          type: string
                        bmkg:
                          type: string
                  success:
                    type: boolean
        '500':
          description: Server error

  /get-districts:
    get:
      summary: Get list of districts
      tags:
        - Location
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: city
          schema:
            type: string
          description: City/regency code
      responses:
        '200':
          description: List of districts successfully retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        name:
                          type: string
                        bmkg:
                          type: string
                  success:
                    type: boolean
        '500':
          description: Server error

  /get-raw-data-malaria:
    get:
      summary: Get raw malaria data
      tags:
        - Malaria
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: province
          schema:
            type: string
          description: Province code
        - in: query
          name: city
          schema:
            type: string
          description: City/regency code
        - in: query
          name: district
          schema:
            type: string
          description: District code
        - in: query
          name: month_year
          schema:
            type: string
          description: Format YYYY-MM
      responses:
        '200':
          description: Malaria data successfully retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  metadata:
                    type: object
                  success:
                    type: boolean
        '400':
          description: Invalid date format
        '404':
          description: Data not found
        '500':
          description: Server error

  /get-aggregate-data-malaria:
    get:
      summary: Get aggregate malaria data
      tags:
        - Malaria
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: province
          schema:
            type: string
          required: true
          description: Province code
        - in: query
          name: city
          schema:
            type: string
          description: City/regency code
        - in: query
          name: start
          schema:
            type: string
          description: Format YYYY-MM for start date
        - in: query
          name: end
          schema:
            type: string
          description: Format YYYY-MM for end date
      responses:
        '200':
          description: Aggregate malaria data successfully retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  success:
                    type: boolean
        '400':
          description: Province parameter is required
        '500':
          description: Server error

  /get-raw-data-dbd:
    get:
      summary: Get raw DHF data
      tags:
        - DHF
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: province
          schema:
            type: string
          description: Province code
        - in: query
          name: city
          schema:
            type: string
          description: City/regency code
        - in: query
          name: month_year
          schema:
            type: string
          description: Format YYYY-MM
      responses:
        '200':
          description: DHF data successfully retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  metadata:
                    type: object
                  success:
                    type: boolean
        '400':
          description: Invalid date format
        '404':
          description: Data not found
        '500':
          description: Server error

  /get-aggregate-data-dbd:
    get:
      summary: Get aggregate DHF data
      tags:
        - DHF
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: province
          schema:
            type: string
          required: true
          description: Province code
        - in: query
          name: city
          schema:
            type: string
          description: City/regency code
        - in: query
          name: start
          schema:
            type: string
          description: Format YYYY-MM for start date
        - in: query
          name: end
          schema:
            type: string
          description: Format YYYY-MM for end date
      responses:
        '200':
          description: Aggregate DHF data successfully retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  success:
                    type: boolean
        '400':
          description: Province parameter is required
        '500':
          description: Server error

  /get-raw-data-lepto:
    get:
      summary: Get raw Leptospirosis data
      tags:
        - Leptospirosis
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: province
          schema:
            type: string
          description: Province code
        - in: query
          name: city
          schema:
            type: string
          description: City/regency code
        - in: query
          name: month_year
          schema:
            type: string
          description: Format YYYY-MM
      responses:
        '200':
          description: Leptospirosis data successfully retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  metadata:
                    type: object
                  success:
                    type: boolean
        '400':
          description: Invalid date format
        '404':
          description: Data not found
        '500':
          description: Server error

  /get-aggregate-data-lepto:
    get:
      summary: Get aggregate Leptospirosis data
      tags:
        - Leptospirosis
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: province
          schema:
            type: string
          required: true
          description: Province code
        - in: query
          name: city
          schema:
            type: string
          description: City/regency code
        - in: query
          name: start
          schema:
            type: string
          description: Format YYYY-MM for start date
        - in: query
          name: end
          schema:
            type: string
          description: Format YYYY-MM for end date
      responses:
        '200':
          description: Aggregate Leptospirosis data successfully retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  success:
                    type: boolean
        '400':
          description: Province parameter is required
        '500':
          description: Server error
  /get-dbd-data:
    get:
      summary: Get DHF data by province, city, and month/year
      description: Retrieve DHF (Dengue Hemorrhagic Fever) data for a specific province and city for the given month and year
      tags:
        - Digital Twin
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: province
          schema:
            type: string
          required: true
          description: Province code
        - in: query
          name: city
          schema:
            type: string
          required: false
          description: City/regency code (optional)
        - in: query
          name: month_year
          schema:
            type: string
          required: true
          description: Format YYYY-MM (year and month)
      responses:
        '200':
          description: DHF data successfully retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  kd_prov:
                    type: string
                    description: Province code
                  kd_kab:
                    type: string
                    description: City/regency code (null if province level query)
                  province:
                    type: string
                    description: Province name
                  city:
                    type: string
                    description: City/regency name or "All Cities/Regencies"
                  year:
                    type: integer
                    description: Data year
                  month:
                    type: integer
                    description: Data month (1-12)
                  status:
                    type: string
                    description: Data status (actual/prediction/no data)
                  dbd_p:
                    type: integer
                    description: Number of DHF patients
                  dbd_m:
                    type: integer
                    description: Number of deaths due to DHF
                  data_status:
                    type: string
                    description: Data status (Actual/Prediction Data, Previous Year Data, or Default Data)
                  request_parameters:
                    type: object
                    properties:
                      province:
                        type: string
                      city:
                        type: string
                      month_year:
                        type: string
        '400':
          description: Invalid parameters (province is required, month_year format must be YYYY-MM)
        '404':
          description: Data not found
        '500':
          description: Server error

  /get-lepto-data:
    get:
      summary: Get Leptospirosis data by province, city, and month/year
      description: Retrieve Leptospirosis data for a specific province and city for the given month and year
      tags:
        - Digital Twin
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: province
          schema:
            type: string
          required: true
          description: Province code
        - in: query
          name: city
          schema:
            type: string
          required: false
          description: City/regency code (optional)
        - in: query
          name: month_year
          schema:
            type: string
          required: true
          description: Format YYYY-MM (year and month)
      responses:
        '200':
          description: Leptospirosis data successfully retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  kd_prov:
                    type: string
                    description: Province code
                  kd_kab:
                    type: string
                    description: City/regency code (null if province level query)
                  province:
                    type: string
                    description: Province name
                  city:
                    type: string
                    description: City/regency name or "All Cities/Regencies"
                  year:
                    type: integer
                    description: Data year
                  month:
                    type: integer
                    description: Data month (1-12)
                  status:
                    type: string
                    description: Data status (actual/prediction/no data)
                  lep_k:
                    type: integer
                    description: Number of Leptospirosis cases
                  lep_m:
                    type: integer
                    description: Number of deaths due to Leptospirosis
                  data_status:
                    type: string
                    description: Data status (Actual/Prediction Data, Previous Year Data, or Default Data)
                  request_parameters:
                    type: object
                    properties:
                      province:
                        type: string
                      city:
                        type: string
                      month_year:
                        type: string
        '400':
          description: Invalid parameters (province is required, month_year format must be YYYY-MM)
        '404':
          description: Data not found
        '500':
          description: Server error

  /get-malaria-data:
    get:
      summary: Get Malaria data by province, city, district, and month/year
      description: Retrieve Malaria data for a specific province, city, and district for the given month and year
      tags:
        - Digital Twin
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: province
          schema:
            type: string
          required: true
          description: Province code
        - in: query
          name: city
          schema:
            type: string
          required: false
          description: City/regency code (optional)
        - in: query
          name: district
          schema:
            type: string
          required: false
          description: District code (optional, requires city)
        - in: query
          name: month_year
          schema:
            type: string
          required: true
          description: Format YYYY-MM (year and month)
      responses:
        '200':
          description: Malaria data successfully retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  kd_prov:
                    type: string
                    description: Province code
                  kd_kab:
                    type: string
                    description: City/regency code (null if province level query)
                  kd_kec:
                    type: string
                    description: District code (null if province/city level query)
                  province:
                    type: string
                    description: Province name
                  city:
                    type: string
                    description: City/regency name or "All Cities/Regencies"
                  district:
                    type: string
                    description: District name or "All Districts"
                  year:
                    type: integer
                    description: Data year
                  month:
                    type: integer
                    description: Data month (1-12)
                  status:
                    type: string
                    description: Data status (actual/prediction/no data)
                  tot_pos:
                    type: integer
                    description: Total positive Malaria cases
                  konfirmasi_lab_mikroskop:
                    type: integer
                    description: Number of cases confirmed by microscopy
                  konfirmasi_lab_rdt:
                    type: integer
                    description: Number of cases confirmed by RDT
                  konfirmasi_lab_pcr:
                    type: integer
                    description: Number of cases confirmed by PCR
                  pos_0_4:
                    type: integer
                    description: Positive cases aged 0-4 years
                  pos_5_14:
                    type: integer
                    description: Positive cases aged 5-14 years
                  pos_15_64:
                    type: integer
                    description: Positive cases aged 15-64 years
                  pos_diatas_64:
                    type: integer
                    description: Positive cases aged above 64 years
                  hamil_pos:
                    type: integer
                    description: Positive cases in pregnant women
                  kematian_malaria:
                    type: integer
                    description: Number of deaths due to Malaria
                  obat_standar:
                    type: integer
                    description: Number of standard medication usage
                  obat_nonprogram:
                    type: integer
                    description: Number of non-program medication usage
                  obat_primaquin:
                    type: integer
                    description: Number of primaquine medication usage
                  p_pf:
                    type: integer
                    description: Plasmodium falciparum cases
                  p_pv:
                    type: integer
                    description: Plasmodium vivax cases
                  p_po:
                    type: integer
                    description: Plasmodium ovale cases
                  p_pm:
                    type: integer
                    description: Plasmodium malariae cases
                  p_pk:
                    type: integer
                    description: Plasmodium knowlesi cases
                  p_mix:
                    type: integer
                    description: Mixed infection cases
                  p_suspek_pk:
                    type: integer
                    description: Suspected Plasmodium knowlesi cases
                  p_others:
                    type: integer
                    description: Other Plasmodium species cases
                  penularan_indigenus:
                    type: integer
                    description: Indigenous transmission cases
                  penularan_impor:
                    type: integer
                    description: Imported transmission cases
                  penularan_induced:
                    type: integer
                    description: Induced transmission cases
                  relaps:
                    type: integer
                    description: Relapse cases
                  data_status:
                    type: string
                    description: Data status (Actual/Prediction Data, Previous Year Data, or Default Data)
                  request_parameters:
                    type: object
                    properties:
                      province:
                        type: string
                      city:
                        type: string
                      district:
                        type: string
                      month_year:
                        type: string
        '400':
          description: Invalid parameters (province is required, month_year format must be YYYY-MM)
        '404':
          description: Data not found
        '500':
          description: Server error